@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*{
    margin-top: 0%;
    margin-inline: 0%;
    font-family: 'Poppins', sans-serif;
}



.navbar{
    background-color: rgba(30, 154, 211, 0.13);
    display: flex;
    align-items: center;
    /* padding: .5rem; */
    
}

.logo>#logo{
    width: clamp(2rem,3rem,5rem);
}

.menubtn{
    display: none;
}

.search{
    width: clamp(20%,30%,50%);
    line-height: 1;
    height: 1.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 0 auto;

}

.search::placeholder{
    padding: 0 0 0 1rem;
}

nav #listnav{
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
    top: 1rem;

    
}

nav>#listnav>li{
  margin: 0 .5rem;
  transition: transform 250ms ease, color 250ms ease;
}

Link,a,#ancher{
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: 1.25rem;
}


nav>#listnav>li>a{
    transition: all 250ms ease-out;
}
nav>#listnav>li:hover,
nav>#listnav>li>a:hover{
    transform: scale(1.2);
    color: rgb(143, 253, 0);
}
nav>#listnav>li>a:hover,
nav>#listnav>li>a:active{
    padding:.25rem .5rem;
    background-color: rgba(37, 90, 114,0.5);
    border-radius: 10px;
}
nav>#listnav>li>a:focus{
    padding:.25rem .5rem;
    background-color: rgb(28, 209, 37);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
@media only screen and (max-width: 1450px) {
    .pg{
        z-index: 9999;
    }
    .navbar{
        height: 10vh;
       
    }
    .logo>img{
        width: 5rem;
    }
    .search{
        width: 50%;
        line-height: 1;
        height: 1.5rem;
        border-radius: 10px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
   

    nav #listnav{
        background-color: rgba(20, 50, 64,.75);
        display: flex;
        flex-direction: column;
        list-style: none;
        top: 0%;
        padding-left: 0%;
        padding-top: 10vh;
        text-align: center;
        width: 25%;
        min-height: 100vh;
        animation: navopen 500ms ease-in-out;
    }

    link,a,#ancher{
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }
    @keyframes navopen {
        0%{
            opacity: 0;
            width: 0%;
        }

        100%{
            opacity: 100%;
        }
    }

    nav>#listnav>li{
        margin-bottom: 1rem;
        width: 100%;
    }
    nav>#listnav>li>a{
        width: 100%;
    }

   
    /* navbar toggle */
    .menubtn{
        display: block;
       z-index: 9999;
       
    }
#menu_checkbox,
.menubtn>label{

    margin-right: 1rem;
}
    .app{
        display: none;
    }
    #menu_checkbox {
        display: none;
    }
      
      label {
        position: absolute;
        right: 0%;
        margin: 0 auto;
        padding-inline: 1rem;
        display: block;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        transition: 0.3s ease transform;
        cursor: pointer;
      }
      
      label div {
        width: 6px;
        height: 6px;
        background-color: #143240;
        margin-left: 0;
        margin-bottom: 6px;
        border-radius: 4px;
        transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
          0.3s ease background-color;
      }
      
      label div:first-child {
        width: 25px;
      }
      
      label div:nth-child(2) {
        width: 20px;
      }
      
      label div:last-child {
        width: 30px;
        margin-bottom: 0;
      }
      
      #menu_checkbox:checked + label {
        transform: translateY(-50%) rotateZ(-90deg);
      }
      
      #menu_checkbox:checked + label div {
        width: 6px;
        margin-left: 12px;
        margin-bottom: 3px;
        background-color: #ffc107;
     }
    
      
}

@media only screen and (max-width: 850px){
    .pg{
        z-index: 9999;
    }
    nav #listnav{
        width: 50%;
        min-height: 100vh;
    }
    link,a,#ancher{
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
    }
}